:root {
  --background: ##fefeff;
  --black: #20222a;
  --grey: #bbbdbe;
  --lightgrey: #e4e5e4;
  --darkYelow: #d1c16a;
  --ligthYellow: #fefff3;
  --darkblue: #4e66e1;
  --lightblue: #8fa6f8;
  --day: white;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
